/node_modules
.env
mongodb
package-lock.json

/app/controllers/admin/trailers/uploads
/app/controllers/admin/trailers/uploads/*

uploads/*

.DS_Store
app/.DS_Store
app/controllers/.DS_Store
app/controllers/licensee/.DS_Store

trailer2you-7a9da-firebase-adminsdk-yx3og-647dafc3d9.json

package-lock.json
yarn.lock